includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - routes
        - tests

    # Level 10 is the highest level
    level: 5

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '#PHPDoc tag @var#'

    # Add Laravel Model properties
    universalObjectCratesClasses:
        - Illuminate\Database\Eloquent\Model
        - Illuminate\Http\Resources\Json\JsonResource

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
