parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 9
			path: app/Livewire/Admin/EmailSetting.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:approved\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Livewire/Product/Comments.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasMany\:\:approved\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Models/Product.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/ExampleTest.php

		-
			message: '#^Undefined variable\: \$this$#'
			identifier: variable.undefined
			count: 1
			path: tests/Pest.php
