parameters:
	ignoreErrors:
		-
			message: '#^Relation ''parent'' is not found in App\\Models\\Category model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Livewire/Admin/CategoryManager.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 9
			path: app/Livewire/Admin/EmailSetting.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\Blog\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/Blog.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:get\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Feature/ExampleTest.php

		-
			message: '#^Undefined variable\: \$this$#'
			identifier: variable.undefined
			count: 1
			path: tests/Pest.php
