.form-group{
    margin-bottom: 10px !important;
}
.common-card{
    margin-bottom: 20px !important;
}
.image-upload-wrapper {
    border: 1px dashed #ddd;
    padding: 20px;
    border-radius: 8px;
    background: #f9f9f9;
    text-align: center;
}
[data-theme=light] .image-upload-wrapper {
    background: #171830;
}

.image-preview img {
    max-height: 200px;
    width: auto;
    margin-bottom: 10px;
}

.note-editor.note-frame {
    border: 1px solid #e5e7eb;
    border-radius: 8px;
}
